= form_for(@book, :html => { :class => "form-horizontal", :role => "form" }) do |f|
  - if @book.errors.any?
    .alert.alert-danger.alert-dismissable role="alert"
      button.close type="button" data-dismiss="alert"
        span aria-hidden="true"
          | &times;
        span.sr-only
          | Close
      h4= "#{pluralize(@book.errors.count,"error")} prohibited this book from being saved:"
      ul
        - @book.errors.full_messages.each do |msg|
          li= msg
  .form-group
    = f.label :title, :class => "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :title, :class => "form-control"
  .form-group
    = f.label :description, :class => "col-sm-2 control-label"
    .col-sm-10
      = f.text_area :description, :class => "form-control"
  .form-group
    = f.label :published, :class => "col-sm-2 control-label"
    .col-sm-10
      = f.check_box :published, :class => "form-control"
  .form-group
    = f.label :price, :class => "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :price, :class => "form-control"
  .form-group
    = f.label :author_names, :class => "col-sm-2 control-label"
    .col-sm-10
      = f.text_area :author_names, :class => "form-control"
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit :class => "btn btn-primary"
