.page-header
  = link_to new_book_path, :class => 'btn btn-primary' do 
    span.glyphicon.glyphicon-plus
    |  New Book
  h1
    | Listing books

.table-responsive
  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th
          | Title
        th
          | Description
        th
          | Published
        th
          | Price
        th
          | Author names
        th
        th
        th
    tbody
      - @books.each do | book |
        tr
          td
            = book.title
          td
            = book.description
          td
            = book.published
          td
            = book.price
          td
            = book.author_names
          td
            = link_to 'Show', book
          td
            = link_to 'Edit', edit_book_path(book) 
          td
            = link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } 

= paginate @books