.page-header
  = link_to books_path, :class => 'btn btn-default' do 
    span.glyphicon.glyphicon-list-alt
    |  Back 
  = link_to edit_book_path(@book), :class => 'btn btn-primary' do 
    span.glyphicon.glyphicon-pencil
    |  Edit 
  h1
    | Show book
dl.dl-horizontal
  dt
    | Title:
  dd
    = @book.title
  dt
    | Description:
  dd
    = @book.description
  dt
    | Published:
  dd
    = @book.published
  dt
    | Price:
  dd
    = @book.price
  dt
    | Author names:
  dd
    = @book.author_names
